<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MODAL EDITAR PERFIL</title>

  <!-- CSS -->
<!--   <link rel="stylesheet" href="../css/reset.css"> -->
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/modal.editarPerfil.css">

  <!-- GOOGLE FONTS -->

</head>

<body>

  <main>

    <div class="modal">
        <div class="modal__inner">

            <button type="button" class="modal__close">
                    <img src="../assets/X.png" alt="Fechar!"/>
            </button>
        
            
            <form class="modal__form">
                <h2>Editar perfil</h2>
                <h3 class="h3title">Nome</h3>
                <input type="title" name="title" id="title" placeholder="***PUXAR NOME DO USER AQUI***"/>
               
                <h3 class="h3description">URL da imagem do perfil </h3>
                <input type="description" name="description" id="description"
                placeholder="Digitar nova URL"/>

                <button type="button" class="buttonSave buttonSaveText">Salvar alterações</button>
                
            </form>

        </div>
    </div>

  </main>

</body>

</html>