<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/reset.css">
    <link rel="stylesheet" href="/src/css/login.style.css">
    <link rel="stylesheet" href="/src/css/modal.excluirHabito.css">
    <title>MODAL EXCLUIR HABITO</title>
</head>
<body>
    <div class="modalExcluir__wrapper modalExcluir">
        <div class="modalExcluir__container">
            <div class="modalExcluir__header">
                <h4 class="modalExcluir__header--title">Excluir Hábito</h4>
                <button class="modalExcluir__header--button">
                    <img src="/src/assets/X.png" alt="close window">
                </button>
            </div>
            <div class="modalExcluir__warnings">
                <h3 class="modalExcluir__warnings--title">Certeza que deseja excluir este hábito?</h3>
                <p class="modalExcluir__warnings--subtitle">Após executar essa ação não será possível desfazer</p>
            </div>
            <div class="modalExcluir__options">
                <button class="modalExcluir__options--cancel">Cancelar</button>
                <button class="modalExcluir__options--delete">Sim, excluir esse hábito</button>
            </div>
        </div>
    </div>

    
</body>
</html>