/* ///////////////////// CRIAR HÃBITO /////////////////// */
:root {
    --kenzieDarkBlue: 65, 80, 210;          /* #4150D2 */
    --kenzieLightBlue: 65, 90, 243;         /* #415AF3 */
    --pureWhite: 255, 255, 255;             /* #FFFFFF */
    --fontColorGrey: 33, 37, 41;            /* #212529 */
    --fontColorLightWhite: 233, 236, 239;   /* #E9ECEF */
    --inputGreyBackground: 241, 243, 245;   /* #F1F3F5 */
    --labelGrey: 52, 58, 64;                /* #343A40 */
    --backGroundButtonSave: 160, 173, 249;  /* #A0ADF9 */
}

#modal{
    display: none;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0%;
    left: 0;
    z-index: 1;
    background-color: rgba(var(--fontColorGrey), 0.65);
}

.modal__inner{
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    width: 31.37em;
    max-width: 100%;
    height: 23.81em;
    border-radius: 8px;
    overflow: hidden;
    background-color: rgba(var(--pureWhite), 1);
    position: inherit;
}

.modal__close{
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: 2rem;
    left: 28.5rem;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.modal__close img{
    width: inherit;
    height: inherit;
}

h2{
    margin-bottom: 0.5rem;
    font-size: 0.875;
    font-weight: 700;
    color: rgba(var(--fontColorGrey), 1);
}

#title{
    margin-top: 0.3rem;
}

.h3title{
    font-size: 1.25rem;
    font-weight: 400;
    color: rgba(var(--fontColorGrey), 1);
}

.h3description{
    font-size: 1.25rem;
    font-weight: 400;
    padding-top: 1rem;
    color: rgba(var(--fontColorGrey), 1);
}

.h3category{
    margin-top: 0.5rem;
    font-size: 1.25rem;
    font-weight: 400;
    color: rgba(var(--fontColorGrey), 1);
}


.modal__form{
    height: rem;
    width: 90%;
    margin-left: 20px;
}

.modal__form input{
    width: 100%;
    height: 2rem;
    border-radius: 0.3rem;
    border: none;
    background-color: rgba(var(--fontColorLightWhite));
}

.modal__form button{
    background-color: #415AF3;
    border: none;
    margin-top: 1rem;
    height: 2rem;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
}

.modal__form button:hover{
    border: 2px solid black;
    box-shadow: 3px 3px gray 
}

.button {
    width: 10rem;
    height: 2.5rem;
    max-width: 100%;
    font-size: 1.2rem;
    font-size: 400;
    border: none;
    color: rgba(var(--pureWhite),1);
    cursor: pointer;
}

#description{
    margin-top: 0.2rem;
    width: 100%;
    height: 2rem;
    border-radius: 0.3rem;
    border: none;
    background-color: rgba(var(--fontColorLightWhite));
}


#breed{
    margin-top: 0.5rem;
    display: flex;
    width: 100%;
    height: 2.2rem;    
}

.breed > option{
   font-weight: 400;
   font-size: 1rem;
   line-height: 1.18rem;
   color: rgba(var(--fontColorGrey), 1);
}

.status{
    display: flex;
    justify-content: space-between;
    margin-top: 1.3em;
}

.statusText{
   font-weight: 500;
   font-size: 1.6rem;
   color: rgba(var(--fontColorGrey), 1);
   margin-top: 0.2em;
}

#status{
    width: 1.5em;
    height: 1.5em;
    margin-top: 0.5rem;
    
}

.excludeSave{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttonExcluir{
    margin-top: 1.5rem;
    width: 50%;
    height: 2.2rem;
    background-color: rgba(var(--inputGreyBackground), 1);
    border-radius: 0.3rem;
    border: none;
    cursor: pointer;
}

.buttonExcluirText{
    font-weight: 600;
    font-size: 1.1rem;
    color: rgba(var(--fontColorGrey), 1);
}

.buttonSave{
    margin-top: 3rem;
    width: 100%;
    height: 2.2rem;
    background-color: rgba(var(--backGroundButtonSave), 1);
    border-radius: 0.3rem;
    border: none;
    cursor: pointer;
}

.buttonSaveText{
    font-weight: 500;
    font-size: 1.1rem;
    color: rgba(var(--pureWhite), 1);
}
